

<button (click)="getInfo()">Get Info</button>

<app-greeting uname="Scott"></app-greeting>
<app-greeting uname="Smith"></app-greeting>
<app-greeting uname="Sandy"></app-greeting>
<app-greeting uname="Sam"></app-greeting>
<app-greeting uname="Mark"></app-greeting>


<!-- #p1  is refer as template variable -->
<p  #p1>This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph.  </p>

<p>This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph.  </p>

<p>This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph.  </p>

<p>This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph. This is test paragraph.  </p>
